
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: #ded2c3;
}
.cards {
    margin: auto;
    list-style-type: none;
    display: flex;
}
.card {
    flex-direction: column;
    width: 323px;
    background-color: #fff;
    border-radius: 10px;
}
.card__image {
    height: 209px;

}
.card__content {
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__btn {
    margin-top: auto;
    border: 2px solid #F97316;
    background-color: #F97316;
    border-radius: 10px;
    width: 110px;
    height: 19px;
    cursor: pointer;
}
.card__btn_text {
    color: white;
    text-transform: uppercase;
}
.card__title {
    font-weight: 700;
    font-size: 18px;
    font-family: "Mulish", sans-serif;
}
.card__subtitle {
    font-weight: 400;
    font-size: 16px;

}
.cards__item .card {
    height: 100%;
}
.card__subtitle {
    margin: 0;
    margin-bottom: 20px;
}
.card__user {
    overflow:hidden;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
}
.card__user>.user__name {
    flex-grow: 1;
    padding-left: 10px;
}
.card__user_age {
    color:#666;
}